<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%-title%> - <%=app.title%></title>
    <meta name="description" content="AngularJS | JS | Javascript | MVC | MVVM">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/css.css">
    <link rel="Shortcut Icon" href="/img/favicon.ico">
    <link href="/lib/highlight/8.0/styles/default.css" rel="stylesheet">
</head>
<body ng-app="app" ng-cloak class="ng-cloak inner-body">

<div id="inner-wrap">
    <%-include header/header.html%>
    <div class="main">
        <%-body%>
    </div>
    <div class='notifications top-right'></div>
</div>

<%-include shared/scripts.html%>

</body>
</html>